.cv-container {
	width: 960px;
	margin-bottom: 40px;
}

main {
	.title-container {
		margin-bottom: 20px;
		padding-bottom: 40px;
		border-bottom: 1px solid color('grey', 'lighten-2');
	}
	.section-title {
		margin-bottom: 2rem;
	}
}

.inner-container {
	margin: 0 36px;
}